.App {
  text-align: center;

  /* background-color: #d3d3d3; */
}
.App p {
  font-weight: 900;
  font-size: calc(10px + 2vmin);
  color: #ffffff;
}
.ui.button {
  color: rgb(59, 185, 173);
  margin-top: 1rem;
}
.ui.form .field > label {
  font-size: 1em;
  float: left;
  color: rgb(59, 185, 173);
  margin-top: 1em;
}
.ui.header {
  color: rgb(233, 162, 91);
}
.ui.form {
  margin: 1em;
}
.App-header {
  background-color: rgba(0, 0, 0, 0.1);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  color: rgb(59, 185, 173);
}

a {
  color: rgb(59, 185, 173);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
